<h2>Oh, but I see Miss Granger knows the answer...</h2>
<div class="row">
	<div class="col-md">
		<div class="text-block">
			<h4>How do I enable the quiz for Alexa?</h4>
			<p>Go to the <a target="_blank" href="https://www.amazon.com/gp/product/B07F6X965Q?ie=UTF8&ref-suffix=ss_rw">Alexa link</a> and click "Enable Skill".</p>
		</div>
		<div class="text-block">
			<h4>How do I enable the quiz for Google Home?</h4>
			<p>Go to the <a target="_blank" href="https://assistant.google.com/services/a/uid/00000000fe1a88bc?hl=en&source=web">Google Home link</a>, and click "Send to device". Choose your Google Home device.</p>
		</div>
		<div class="text-block">
			<h4>Are there questions from the movies/Fantastic Beasts/Cursed Child?</h4>
			<p>As a Potter purist, I tend to focus on very obscure book-only facts, so you movie-only Potterheads might want to brush up a bit on your facts.</p>
		</div>
		<div class="text-block">
			<h4>How does one pronounce "marauder"?</h4>
			<p>Marauder is pronounced "muh-raw-durr".</p>
		</div>
	</div>
	<div class="col-md">
		<div class="text-block">
			<h4>Is it really <i>that</i> difficult?</h4>
			<p>Yes. It's hard. Very hard. You have been warned.</p>
			<p>I mean, if you know off the top of your head under which King’s court did Nearly Headless Nick served, it <i>might</i> be only moderately difficult...</p>
		</div>
		<div class="text-block">
			<h4>Is this just going to be like one of those impossible-but-not-really quizzes?</h4>
			<p>No. I promise that this is really, truly, absolutely mind-boggingly difficult. If you've taken "impossible" Harry Potter quizzes before and got all the answers right, then you're probably in the ballpark for getting at least 4 of the 7 questions correct. </p>
		</div>
	</div>
</div>