@font-face {
   font-family: Google Sans;
   font-weight: bold;
   src: url('/assets/fonts/GoogleSans-Bold.ttf');
} 

@font-face {
   font-family: Google Sans;
   font-weight: normal;
   src: url('/assets/fonts/GoogleSans-Italic.ttf');
} 

@font-face {
   font-family: Google Sans;
   font-weight: normal;
   src: url('/assets/fonts/GoogleSans-Regular.ttf');
} 
